/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"); */

:root {
    --text-color: #0b0a0a;

    --very-small-size: 400 0.833rem/1.5 'Roboto', sans-serif;
    --small-size: 400 1rem/1.5 'Roboto', sans-serif;
    --link-size: 500 1.2rem/1.5 'Roboto', sans-serif;
    --medium-size: 400 1.2rem/1.5 'Roboto', sans-serif;
    --large-size: 500 1.44rem/1.5 'Roboto', sans-serif;
    --very-large-size: 500 1.728rem/1.75 'Roboto', sans-serif;
    --very-very-large-size: 700 2.074rem/1.75 'Roboto', sans-serif;
}

html {
    font-size: 112.5%;
}

body {
    margin: 20px;
}

h1,
h2,
h3,
h4,
h5,
p {
    color: var(--text-color);
}

h1 {
    font: var(--very-very-large-size);
}

h2 {
    font: var(--very-large-size);
}

h3 {
    font: var(--large-size);
}

h4 {
    font: var(--medium-size);
}

p {
    font: var(--small-size);
}

input,
textarea,
select {
    border: 2px solid #000;
}

img {
    width: 200px;
}
table,
td {
    border: 1px solid #333;
}

th,
td {
    padding: 5px;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

.input-container.invalid input,
.input-container.invalid textarea,
.input-container.invalid select {
    border-color: #9c0b0b;
}

.input-container.active input,
.input-container.active textarea,
.input-container.active select {
    border-color: #4c9c0b;
}

.input-container.invalid .error-message {
    display: block;
}

.input-container.active .error-message {
    display: none;
}

.error-message {
    color: #9c0b0b;
    font: var(--very-small-size);
    font-weight: 500;
    padding: 0 5px;
}

.error-message > li {
    list-style: disc;
    list-style-position: inside;
}

.error-container {
    margin-top: 20px;
    width: 100%;
}

.success {
    width: 100%;
    padding: 15px 25px;
    background-color: #4c9c0b40;
    margin-bottom: 20px;
    border-radius: 5px;
    font: var(--small-size);
    color: #4c9c0b;
    list-style: none;
}

.danger {
    width: 100%;
    padding: 15px 25px;
    background-color: #9c0b0b40;
    margin-bottom: 20px;
    border-radius: 5px;
    font: var(--small-size);
    color: #9c0b0b;
    list-style: none;
}
form {
    display: grid;
    gap: 1rem;
    margin-top: 20px;
}
